html {
    font-size: 62.5%; /* 16px standard text size * 62.5% = 10px = 1rem */
    box-sizing: border-box; 
}
body {
    margin:0;
    height: 100vh;
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
}
.grid-container {
    display: grid;
    grid-template-areas: /*defining the template grid areas*/
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr; /*1fr is 1 fragment, cover complete size*/
    grid-template-rows: 5rem 1fr 5rem; /* for header, main and footer*/
    height: 100%;
}
header {
    grid-area: header; /*connecting the grid element to the header element described above*/
    background-color: #203040;
}
main {
    grid-area: main;
    padding: 1rem;
}
footer{
    grid-area:footer;
    background-color: #203040;
    color: #ffffff;
}
a {
    text-decoration: none;
}
a:hover {
    color: #ff8000
}
header a {
    color: #ffffff;
    padding: 1rem;
}
a.brand {
    font-size: 3rem; /* defines the size of the font*/
    color: #ffffff; /*defines the foreground color of the brand*/
    font-weight: bold; /*defines the font format, bold or italics etc*/
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.row.center {
    justify-content: center;
}
